<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="3;url=/agreement" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>I knew you are my bestie ❤️</h1>
            <p>
                I'm sorry for not listening about outside food.
                I know you care about me.
                I’ll try to improve.
            </p>
            <p>Redirecting to agreement...</p>
        </div>
    </div>
</body>
</html>
